* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inria Sans", sans-serif;
}
p {
  margin-bottom: 0;
}
body {
  margin: 0;
  min-width: 300px;
}
#all{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signature-color{
  color: #e63946;
}
